.project-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem 2rem;
  margin-block-start: 3rem;
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}