.form {
  display: grid;
  gap: 2rem;
  background-color: var(--bg-strongest);
  padding-inline: var(--page-padding-inline);
  padding-block: var(--page-padding-block);
  border-radius: var(--rounded);
}

@media screen and (max-width: 640px) {
  .form {
    margin-inline: calc(var(--page-padding-inline) * -1);
  }
}