.base {
  padding: 1em 1.5em;
  background: var(--bg-strongest);
  border-radius: 999rem;
  text-align: center;
  white-space: nowrap;
}

.small {
  padding: 0.35rem 0.75rem;
  font-size: 0.75rem;
}

@media screen and (max-width: 640px) {
  .base {
    font-size: 0.875rem;
  }
}